body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8E8E8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#LoginDiv {
  padding: 2%;
  border-radius: 25px;
  background-color: #5588A3;
  margin-top: 5%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-left: 1em;
  height: 25%;
}

#LoginHeader {
  text-align: center;
}

#LoginButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.LoginButton {
  width: 45%;
}
#password {
  margin-top: 1em
}
.placeholder {
  width: 30%;
  background-color: #5588A3;
  height: 857px;
}
.red:focus, .red {
  background-color: red
}

#sniffsListFeed {
  height: 857px;
  overflow-y: scroll;
  background-color: #5588A3;
  padding-left: .5em;
}
::-webkit-scrollbar {
  background: #5588A3;        /* color of the tracking area */
  width: .5em;
}

::-webkit-scrollbar-thumb {
  background: #2b2d2f;
  border-radius: 20px;
}

.userCard {
  display: flex;
  justify-content: space-between;
  border-bottom: gray;
  padding: 1em 2em 0 2em;
}

#userListH1 {
  text-align: center;
  color: #2b2d2f;
  background-color: #5588A3;
}

#searchBar {
  padding: 1em;
  color: #2b2d2f;
}

#userList, #profile, #sniffsListFeed {
  width: 50%;
}


img {
  border-radius: 50%;
}

#tooMuch {
  color: red
}

#feedHeading {
  display: flex;
  background-color: #5588A3;
  color: #2b2d2f;
  justify-content: space-between;
}

.sniffCardUsername {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
}

.sniffCardPhotoAndUsername {
  display: flex;
}

.elapsedTimeAndLikes {
  display: flex;
  justify-content: space-between;
}

#profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  background-color: #5588A3;
}

#header {
  flex: 0 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
}

#content {
  overflow-y:scroll;
  flex: 0 1 auto;
  margin-left: .5em;
}

.elapsedTime {
  margin-top: .5em;
}

.newSniffOnFeed {
  margin-top: .5em;
  margin-right: .5em;
}

a.nav-link {
  color: #2b2d2f;
}

#profileButtons {
  display: flex;
}

.userCardProfileLink a{
  display: flex;
  color: #2b2d2f;
}

#userList {
  height: 857px;
  overflow-y: scroll;
}

.card-body {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 25px;
  background-color: #E8E8E8;
}
.form-control {
  background-color: #E8E8E8;
}

.registerInput {
  margin-top: 1em;
}

#sideNav {
  margin-right: 1em;
}

#searchBarBox {
  margin-left: 1em;
}

#newSniffOnFeed {
  margin-right: .5em;
  margin-top: .5em;
}

#profileFollows {
  display: flex;
  flex-direction: row-reverse;
}

#profileFollows div {
  background-color: #E8E8E8;
  border-radius: 5px;
  margin-right: 1em;
  padding-left: .75em;
}

#followsAndButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: .5em;
}

#picAndNames {
  display: flex;
}

#usernameAndDisplayname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: .5em;
}

#bio {
  padding: .5em 0;
  border-bottom: 1.5px solid #2b2d2f;
  margin-bottom: 7px;
}

.deleteSniffButton {
  margin-right: 1em;
}

.resniffLink {
  margin-right: .5em;
}