body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#LoginDiv {
  padding: 2%;
  border-radius: 25px;
  background-color: darkblue;
  margin-top: 5%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-left: 1em;
  height: 25%;
}

#LoginButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.LoginButton {
  width: 45%;
}
#password {
  margin-top: 1em
}
.placeholder {
  width: 30%;
  background-color: darkblue;
  height: 857px;
}
.red:focus, .red {
  background-color: red
}

#sniffsListFeed {
  height: 850px;
  overflow-y: scroll;
}

.userCard {
  display: flex;
  justify-content: space-evenly;
  border-bottom: gray;
}

#userListH1 {
  text-align: center;
  color: gray;
  background-color: darkblue;
}

#searchBar {
  padding: 1em;
  color: gray;
}

#userList, #profile, #sniffsListFeed {
  width: 50%;
}

#sniffsListProfile {
  height: 625px;
  overflow-y: scroll;
}

#tooMuch {
  color: red
}

#feedHeading {
  display: flex;
  background-color: darkblue;
  color: gray;
  justify-content: space-between;
}

.sniffUsername {
  opacity: 80%;
}